@import url("../normalize.css");
@import url("./header.css");
@import url("./main/ourMethodology.css");
@import url("./main/ourServices.css");
@import url("./main/ourTeam.css");

@font-face {
    font-family: 'Comfortaa';
    src: local('Comfortaa'), url('./resources/fonts/Comfortaa-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
  }

.content{
    max-width: 1600px;
    margin: auto;
    box-shadow: 0 0 75px -12px #0003;

    height: fit-content;
    width:100%;
}
 body,html{
    width: 100%;
    font-family: "Comfortaa";
 }

 main{
    height: fit-content;
 }

